@import "tailwindcss";

@theme {
  --color-mainWhite: #FFF9F9;
  --color-green: #76DE37;
  --color-lightGray: #EBEBEB;
  --color-lightGray2: #F4F4F4;
  --font-oswald: 'Oswald', sans-serif;
  --font-Inder: 'Inder', sans-serif;
  --radius-40: 40px;
  --max-width-form: 301px;
}

/* parent wrapper class */
.green-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-green) !important;
  border-color: var(--color-green) !important;
}
.green-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--color-green) !important; 
}




/* calendar titles responsive */
@media (max-width: 640px) {
  .fc-header-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* spacing between rows */
  }

  .fc-header-toolbar .fc-toolbar-chunk {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem; /* space between buttons */
  } 
}



@media (max-width: 640px) {
  /* Stack toolbar */
  .fc-header-toolbar {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .fc-header-toolbar .fc-toolbar-chunk {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .fc .fc-col-header-cell {
    padding: 0.25rem 0.1rem;
    white-space: normal;
  }

  /* Make hour rows taller */
  .fc .fc-timegrid-slot {
    min-height: 60px;
  }

  .fc {
    overflow-x: auto;
  }
}


