@import "tailwindcss";

@theme {
  --color-mainWhite: #FFF9F9;
  --color-green: #76DE37;
  --color-lightGray: #EBEBEB;
  --font-oswald: 'Oswald', sans-serif;
  --font-Inder: 'Inder', sans-serif;
}

body{
    background-color: #D9D9D9;
}