@import "tailwindcss";

@theme {
  --color-mainWhite: #FFF9F9;
  --color-green: #76DE37;
  --color-lightGray: #EBEBEB;
  --color-lightGray2: #F4F4F4;
  --font-oswald: 'Oswald', sans-serif;
  --font-Inder: 'Inder', sans-serif;
  --radius-40: 40px;
  --max-width-form: 301px;
}

/* parent wrapper class */
.green-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-green) !important;
  border-color: var(--color-green) !important;
}
.green-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--color-green) !important; 
}